.home {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 3rem;
    align-items: center;
}

.cardContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
    gap: 1rem;
    justify-content: center;
}