body, html {
    height: 100%;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 3rem;
    align-items: center;
    background: radial-gradient(black, #0D1371);
}

#renderPokemons {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.cardContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
    gap: 1rem;
    justify-content: center;
    margin: 0 2rem;
}

#gifNone {
    height: 100%;
    margin: 1rem;
    border-radius: 15px;
}

.main {
    min-height: 100vh;
}

@media (max-width: 300px){
    .cardContainer {
        margin: 0;
    }
}