.card {
    width: 20rem;
    height: 20rem;
    border: 4px double #FFCB05;
    border-radius: 10px;
    background: url("https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg");
    background-size: cover;
    color: white;
    overflow: hidden;
}

.image {
    width: 7rem;
}
