.card {
    width: 20rem;
    height: auto;
    border: 4px double #FFCB05;
    border-radius: 10px;
    background: url("https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg");
    background-size: cover;
    color: #f0f8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    transition: ease-out 0.5s;
}
.card:hover {
    box-shadow: 1px -1px 29px 6px rgba(255,203,5,0.59);
    -webkit-box-shadow: 1px -1px 29px 6px rgba(255,203,5,0.59);
    -moz-box-shadow: 1px -1px 29px 6px rgba(255,203,5,0.59);
    transition: linear 0.1s;
}

.image {
    width: 7rem;
}

.containerTypesGeneral {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.iconsPk {
    width: 3rem;
}

.name {
    font-weight: bold;
    font-size:1.4rem;
}

.typePkGeneral {
    font-size: 1.2rem;
    margin: 0 0 1rem;
}

.iconTypes {
    margin: 0;
}

@media (max-width: 500px){
    .card {
        width: 17rem
    }
    .iconsPk {
        width: 2rem;
    }
    .name {
        font-weight: bold;
        font-size:1.4rem;
    }
    .typePkGeneral {
        font-size: 1rem;
        margin: 0 0 1rem;
    }
}

@media (max-width: 350px){
    .card {
        width: 15rem
    }
}