.containerLanding {
    height: 100%;
    box-sizing: border-box;
    background-image: url("https://images.alphacoders.com/963/963324.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

#cont {
    box-sizing: border-box;
    width: 45vw;
    height: 100vh;
}

#header {
    color: #FFCB05;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    width: 45vw;
}

#intro {
    width: 20vw;
    color: #FFCB05;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

#logoLanding {
    width: 30rem;
}

#buttonStart {
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 70px;
    font-size: 1.2rem;
    border: 4px solid #FFCB05;
    color: #FFCB05;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
    transition: ease-out 0.5s;
}
#buttonStart:hover {
    box-shadow: 1px -1px 29px 6px rgba(255,203,5,0.59);
    -webkit-box-shadow: 1px -1px 29px 6px rgba(255,203,5,0.59);
    -moz-box-shadow: 1px -1px 29px 6px rgba(255,203,5,0.59);
    transition: linear 0.4s;
}

@media (max-width: 1000px){
    .containerLanding {
        min-height: 100vh;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        gap: 3rem;
        align-items: center;
        background: radial-gradient(black, #0D1371);
    }
    #cont {
        display: none;
    }
    #logoLanding {
        width: 80%;
        min-width: 300px;
    }
    #header {
        color: #FFCB05;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        width: 80%;
    }
    #intro {
        width: 60%;
        color: #FFCB05;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
    }
    #logoLanding {
        width: 40%;
    }
    #buttonStart {
        font-family: 'Montserrat', sans-serif;
        width: 200px;
        height: 70px;
        font-size: 1.2rem;
        border: 4px solid #FFCB05;
        color: #FFCB05;
        background-color: transparent;
        border-radius: 25px;
        cursor: pointer;
        transition: ease-out 0.5s;
    }
}