.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#FFCB05 85%, #c9a000);
    border-bottom: 10px solid #c9a000;
    border-radius: 0 0 40px 30px;
}

.search {
    display: flex;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

#link {
    text-decoration: none;
    color: black;
}

#inputText {
    border: none;
    background-color: transparent;
}

#inputText::placeholder {
    padding-left: 1rem;
    color: #666;
    font-size: 0.9rem;
}

#searchAndFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

#refreshAndCreate{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#searchButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 50px;
}

#refreshIcon {
    width: 20px;
}

#refresh {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#create {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

#logo {
    width: 150px;
}

#createIcon {
    width: 15px;
}

#searchIcon {
    width: 20px;
}

#navMenuButton {
    display: none;
}

@media (max-width: 1200px){

}